{% extends 'dampak/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">

<h1>
  Update Berita
</h1>
<div class="col">
	<form action="" method="POST">
        <table class="table">
            {% csrf_token %}
            <thead class="thead-dark">
              <tr>
                <th scope="row">Keterangan</th>
                <th scope="row">Yang mau diupdate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {{form}}
              </tr>
            </table>
            <div class="text-center">
              <input  type="submit" class="btn btn-info" value="Update">
              <a class="btn btn-warning" href="{% url 'webpage5' %}">Batal</a>
            </div>
        
			</form>

		
	
</div>


{% endblock %}